<div [formGroup]="form">
  <mat-form-field appearance="outline" floatLabel="always" class="text-field">
    <mat-label>{{ label }}</mat-label>

    <mat-icon *ngIf="prefixIcon" matPrefix>
      {{ prefixIcon }}
    </mat-icon>

    <input
      matInput
      [formControlName]="controlName"
      [placeholder]="placeholder || label"
      [mask]="mask"
    />

    <mat-icon *ngIf="suffixIcon" matSuffix>
      {{ suffixIcon }}
    </mat-icon>

    <mat-error *ngIf="getErrorMessage()">
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
</div>
