<div [formGroup]="form">
  <mat-form-field appearance="outline" floatLabel="always" class="select-field">
    <mat-label>{{ label }}</mat-label>

    <mat-icon *ngIf="prefixIcon" matPrefix>{{ prefixIcon }}</mat-icon>

    <mat-select
      [formControlName]="controlName"
      [placeholder]="placeholder || label"
      [disabled]="disabled"
    >
      <mat-option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">
        {{ option.label }}
      </mat-option>
    </mat-select>

    <mat-icon *ngIf="suffixIcon" matSuffix>{{ suffixIcon }}</mat-icon>

    <mat-error *ngIf="getErrorMessage()">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
</div>

