<div [formGroup]="form">
  <mat-form-field appearance="outline" floatLabel="always" class="password-field">
    <mat-label>{{ label }}</mat-label>

    <mat-icon *ngIf="prefixIcon" matPrefix>{{ prefixIcon }}</mat-icon>

    <input
      matInput
      [type]="isPasswordHidden ? 'password' : 'text'"
      [formControlName]="controlName"
      [placeholder]="placeholder || label"
      [disabled]="disabled"
    />

    <mat-icon
      matSuffix
      class="icon-clickable"
      (click)="toggleVisibility()"
    >
      {{ isPasswordHidden ? showPasswordIcon : hidePasswordIcon }}
    </mat-icon>

    <mat-error *ngIf="getErrorMessage()">
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
</div>